<div class="row">
  <div class="col-md-12">
    <%= simple_form_for(@report) do |f| %>
      <% @report_details.each do |r, v| %>
        <p>
          <a class="btn btn-primary" data-toggle="collapse" href=<%= "##{r}" %> role="button" aria-expanded="false" aria-controls="collapseExample">
            <%= r.capitalize %>
          </a>
        </p>
        <div class="collapse" id=<%= r %>>
          <div class="card card-body">
            <% v.each do |k, vv| %>
              <%= f.input :takeaway_points, label: false, as: :check_boxes, collection: { "#{vv}" => k }, checked: f.object.takeaway_points %>
            <% end %>
          </div>
        </div>
        <br/>
      <% end %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
